.idea/
!test-workspace/.idea/
!sample/project/.idea/

.DS_Store
**/.DS_Store

.mirrord/
.claude/
.porchlight/

.gradle/
.qodana/
build/
bin/

# Artifacts from e2e tests
/video/

libmirrord_layer.*

.intellijPlatform/
.kotlin/

