name: PluginVerifier

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  pluginVerifier:
    strategy:
      matrix:
        ide: [ IU, IC, PY, PC, GO, RD ]
    runs-on: ubuntu-latest
    steps:
      - name: Remove unnecessary files
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 17
      - name: Run plugin verifier
        env:
          CI_BUILD_PLUGIN: true
          IDE: ${{ matrix.ide }}
        run: |
          ./gradlew runPluginVerifier
