# This is a reusable workflow that can be run based on `mirrord_release_branch` boolean input
# in the `mirrord` or `mirrord-intellij` repository and hence is maintained in a single place.
# The difference in the workflow when `mirrord_release_branch` is set is as follows:
# - we checkout into the latest released tag of `mirrord-intellij` from the perspective of binary
# that has to be released on `mirrord` side. if not set, we checkout into the current branch.
# - we rely on downloading the mirrord binary from `mirrord-artifacts` using `actions/download-artifact`
# and adding it to the path. if not set, the latest version is downloaded.

name: reusable_e2e
on:
  workflow_call:
    inputs:
      mirrord_release_branch:
        required: false
        type: boolean
        default: false

jobs:
  intellij-e2e:
    runs-on: ubuntu-24.04
    env:
      CI_BUILD_PLUGIN: "true"
    steps:

      - name: Free Disk Space (Ubuntu)
        uses: metalbear-co/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true", frees about 6 GB
          tool-cache: false

      - name: checkout repository
        if: ${{ !inputs.mirrord_release_branch }}
        uses: actions/checkout@v4

        # mirrord_release_branch boolean when set, means we are on a release branch
        # and hence we need to checkout into the last released tag of mirrord-intellij
      - name: checkout into mirrord-intellij if mirrord_release_branch
        if: ${{ inputs.mirrord_release_branch }}
        uses: actions/checkout@v4
        with:
          repository: "metalbear-co/mirrord-intellij"

      - name: checkout into the last released tag if mirrord_release_branch
        if: ${{ inputs.mirrord_release_branch }}
        run: |
          git fetch --all --tags
          git checkout tags/$(grep 'pluginVersion =' gradle.properties | cut -d '=' -f 2 | xargs)

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - uses: metalbear-co/actions-poetry@b8f6fe29ba2eb78e0d45ccbf41cd14154c4e25b2

        # we are on a release branch, so we need to download the mirrord binary from
        # mirrord-artifacts and add it to the path
      - name: download mirrord binary
        if: ${{ inputs.mirrord_release_branch }}
        uses: actions/download-artifact@v4
        with:
          name: mirrord-artifacts
      - name: add downloaded mirrord to path
        if: ${{ inputs.mirrord_release_branch }}
        run: |
          chmod u+x mirrord
          echo "${GITHUB_WORKSPACE}" >> $GITHUB_PATH

      - name: get the latest mirrord binary
        if: ${{ !inputs.mirrord_release_branch }}
        run: |
          curl -fsSL https://raw.githubusercontent.com/metalbear-co/mirrord/main/scripts/install.sh | bash

      - name: Start minikube
        uses: metalbear-co/setup-minikube@3fa06c2257eb48a3ca8e24fedece59ee2479255a
        with:
          container-runtime: docker
      - run: |
          kubectl apply -f sample/kubernetes/app.yaml
          echo "POD_TO_SELECT=$(kubectl get pods -o=name | head -n 1)" >> "$GITHUB_ENV"
          kubectl wait --for=condition=ready --timeout=30s $(kubectl get pods -o=name | head -n 1)
          KUBE_SERVICE=$(minikube service list --output=json | jq -r '.[] | select(.Name == "py-serv") | .URLs[0]')
          echo "$KUBE_SERVICE"
          echo "KUBE_SERVICE=$KUBE_SERVICE" >> "$GITHUB_ENV"

      - name: download image
        if: ${{ inputs.mirrord_release_branch }}
        uses: actions/download-artifact@v4
        with:
          name: test
          path: /tmp
      - run: minikube image load /tmp/test.tar
        if: ${{ inputs.mirrord_release_branch }}

      - name: build plugin
        run: |
          ./gradlew buildPlugin

      - name: Run intellij e2e in headless state
        uses: metalbear-co/setup-xvfb@6b00cf1889f4e1d5a48635647013c0508128ee1a
        if: ${{ inputs.mirrord_release_branch }}
        env:
          POD_TO_SELECT: ${{ env.POD_TO_SELECT }}
          KUBE_SERVICE: ${{ env.KUBE_SERVICE }}
          MIRRORD_AGENT_IMAGE: "test"
        with:
          run: |
            ./gradlew test

      - name: Run intellij e2e in headless state
        uses: metalbear-co/setup-xvfb@6b00cf1889f4e1d5a48635647013c0508128ee1a
        if: ${{ !inputs.mirrord_release_branch }}
        env:
          POD_TO_SELECT: ${{ env.POD_TO_SELECT }}
          KUBE_SERVICE: ${{ env.KUBE_SERVICE }}
        with:
          run: |
            ./gradlew test

      - name: Save the failure video
        continue-on-error: true
        if: ${{ always() }}
        run: |
          mv video build/reports
      - name: Save fails report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: mirrord-plugin-fail-report
          path: |
            build/reports
